<div class="max-w-4xl m-auto">
  <header class="text-xl font-bold mb-4">Registered Users</header>

  <main>
    <section *ngIf="isLoading" class="text-center mt-5">
      <span>Loading users...</span>
    </section>

    <section
      *ngIf="(!users || users.length === 0) && !errorMessage"
      class="text-center mt-5"
    >
      <span class="text-gray-500 text-lg mb-4">No users found.</span>
    </section>

    <section
      *ngIf="!isLoading && users && users.length > 0"
      class="overflow-x-auto"
    >
      <table class="table--container">
        <thead>
          <tr>
            <th
              class="table--header-cell"
              (click)="toggleSort('name')"
              style="cursor: pointer"
            >
              Name
              <span *ngIf="sorting.sortField === 'name'">
                {{ sorting.sortDirection === "asc" ? "^" : "v" }}
              </span>
            </th>
            <th
              class="table--header-cell"
              (click)="toggleSort('surname')"
              style="cursor: pointer"
            >
              Surname
              <span *ngIf="sorting.sortField === 'surname'">
                {{ sorting.sortDirection === "asc" ? "^" : "v" }}
              </span>
            </th>
            <th class="table--header-cell">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let user of users" class="table--row">
            <td class="table--cell">{{ user.name }}</td>
            <td class="table--cell">{{ user.surname }}</td>
            <td class="table--cell">
              <button
                class="text-indigo-600 cursor-pointer mr-3"
                (click)="router.navigate(['/users', user.id])"
              >
                View
              </button>
              <button
                class="text-indigo-600 cursor-pointer mr-3"
                (click)="router.navigate([`/users/${user.id}/edit`]);"
              >
                Edit
              </button>
              <button
                class="text-red-600 cursor-pointer"
                (click)="deleteUser(user.id)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <section>
        <div class="flex justify-center items-center m-5">
          <app-button
            variant="secondary"
            label="Previous"
            [disabled]="pagination.currentPage === 0"
            (onClick)="previousPage()"
          />

          <span class="text-sm m-2">
            Page {{ pagination.currentPage + 1 }} of {{ pagination.totalPages }}
          </span>

          <app-button
            variant="secondary"
            label="Next"
            [disabled]="pagination.currentPage === pagination.totalPages - 1"
            (onClick)="nextPage()"
          />
        </div>
      </section>
    </section>
  </main>
</div>

<div *ngIf="errorMessage" class="not-found--message">
  <span>{{ errorMessage }}</span>
</div>
