<div class="max-w-4xl m-auto">
  <header class="text-xl font-bold mb-4">Registered Users</header>

  <main>
    <section *ngIf="isLoading" class="text-center mt-5">
      <span>Loading users...</span>
    </section>

    <section
      *ngIf="(!users || users.length === 0) && !errorMessage"
      class="text-center mt-5"
    >
      <span class="text-gray-500 text-lg mb-4">No users found.</span>
    </section>

    <section *ngIf="!isLoading" class="overflow-x-auto">
      <table *ngIf="users && users.length > 0" class="table--container">
        <thead>
          <tr>
            <th
              class="table--header-cell"
              (click)="toggleSort('name')"
              style="cursor: pointer"
            >
              Name
              <span *ngIf="this.config.sortField === 'name'">
                {{ this.config.sortDirection === "asc" ? "^" : "v" }}
              </span>
            </th>
            <th
              class="table--header-cell"
              (click)="toggleSort('surname')"
              style="cursor: pointer"
            >
              Surname
              <span *ngIf="this.config.sortField === 'surname'">
                {{ this.config.sortDirection === "asc" ? "^" : "v" }}
              </span>
            </th>
            <th class="table--header-cell">Actions</th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
          <tr *ngFor="let user of users" class="table--row">
            <td class="table--cell">{{ user.name }}</td>
            <td class="table--cell">{{ user.surname }}</td>
            <td class="table--cell">
              <button
                class="text-indigo-600 cursor-pointer mr-3"
                (click)="router.navigate(['/users', user.id])"
              >
                View
              </button>
              <button
                class="text-indigo-600 cursor-pointer mr-3"
                (click)="router.navigate([`/users/${user.id}/edit`]);"
              >
                Edit
              </button>
              <button
                class="text-red-600 cursor-pointer"
                (click)="deleteUser(user.id!)"
              >
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>

<div *ngIf="errorMessage" class="text-center text-lg mt-4">
  <span>{{ errorMessage }}</span>
</div>
